#generator {
    background: lightpink;
    display: flex;
    flex-wrap: wrap;
}

@include sm-desktop {
    #generator {
        padding: 20px $sm-generator-y-padding;
    }
}

@include lg-desktop {
    #generator {
        padding: 40px $lg-generator-y-padding;
    }
}