.ant-btn {
    &.ant-btn-primary {
        color: $filler !important;
        background-color: $primary !important;
        border-color: $primary !important;

        &:hover,
        &:focus {
            color: $filler !important;
            background-color: $primary-dark !important;
            border-color: $darkness !important;
        }
    }

    &.ant-btn-danger {
        color: $filler !important;
        background-color: $danger-80 !important;
        border-color: $danger-80 !important;

        &:hover,
        &:focus {
            color: $filler !important;
            background-color: $danger-dark !important;
            border-color: $darkness !important;
        }
    }
}
