$filler: #f2f2f2;

$primary: #1a9a8b;
$primary-50: rgba(26, 154, 139, 0.5);

$primary-dark: #136966;

$secondary: #bf6f6f;
$secondary-20: rgba(191, 111, 111, 0.2);
$secondary-50: rgba(191, 111, 111, 0.5);

$danger: #e9262c;
$danger-80: rgba(233, 38, 44, 0.8);

$danger-dark: #8c2425;

$darkness: #1e0d1f;
$darkness-19: rgba(30, 13, 31, 0.19);
$darkness-20: rgba(30, 13, 31, 0.2);
$darkness-50: rgba(30, 13, 31, 0.5);
