/**
 * Viewports
 */
$tablet-width: 768px;
$sm-desktop-width: 992px;
$lg-desktop-width: 1200px;

/**
 * Generated image sizes (height and width)
 */
$sm-desktop-image: 512px;
$lg-desktop-image: 768px;

/**
 * Paddings
 */
$tablet-x-padding: 50px;
$sm-x-padding: 5vw;
$lg-x-padding: 10vw;

/**
 * Heights
 */
$header-height: 120px;
$footer-height: 120px;
