.history {
    background: orange;
    min-height: 200px;

    flex: 1 100%;
}

@include sm-desktop {
    .history {
        margin-top: 10px;
    }
}

@include lg-desktop {
    .history {
        margin-top: 20px;
    }
}