.images {
    flex: 100%;
}

@include sm-desktop {
    .images {
        flex: 1 70%;
        padding: 10px 5%;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, auto);
    }
}
